.button {
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 10px;
	border-radius: 20px;
	background-color: var(--white);
}

.title {
	align-self: center;
	font-size: 20px;
	color: var(--black);
	font-family: "Kulim Park";
}
.icon {
	display: flex;
	width: 20px;
	height: 20px;
	border: none;
	align-self: center;
	background-color: transparent;
}

.enabled {
	background-color: var(--yellow5);
}

.button:hover {
	background-color: var(--buttonHover);
}
.button:disabled {
	background-color: transparent;
}
