.button {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 150px;
	height: 50px;

	border-radius: 10px;

	font-size: 30px;
	font-family: "Kulim Park";
}

.button-red {
	background-color: var(--red);
	color: var(--white);
	border: none;
}
.button-red:hover {
	background-color: var(--button-red3);
	color: var(--white);
	border: none;
}
.button-red:active {
	border: 5px solid var(--red);
	color: var(--red);
	background-color: var(--white);
}
.button-red:disabled {
	background-color: var(--button-red2);
	color: var(--white);
	border: none;
}

.button-gray {
	background-color: var(--dark-grey1);
	color: var(--white);
	border: none;
}
.button-gray:hover {
	background-color: var(--button-gray3);
	color: var(--white);
	border: none;
}
.button-gray:active {
	border: 5px solid var(--dark-grey1);
	color: var(--dark-grey1);
	background-color: var(--white);
}
.button-gray:disabled {
	background-color: var(--grey1);
	color: var(--white);
	border: none;
}
