.closeIcon {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.modal {
	width: 800px;
	height: 620px;
	background-color: var(--light-grey4);
	border-radius: 10px;
	padding: 10px 30px;
	position: absolute;
	z-index: 11;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	align-self: center;
	font-family: "Kulim Park";
	font-weight: 200;
}

.button {
	position: fixed;
	bottom: 20px;
	left: 50%;
	width: 300px;
	transform: translateX(-50%);
}

.main {
	display: flex;
	flex-direction: row;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 10px 0;
	height: fit-content;
}

.left {
	gap: 30px;
}
.right {
	gap: 20px;

}

.titleInput {
	display: flex;
	width: 300px;
}
.label {
	font-family: "Kulim Park";
	font-size: 20px;
}

.radio {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.select {
	display: flex;
	gap: 5px;
	font-size: 18px;
	font-family: "Kulim Park";
}

.selectBlock {
	display: flex;
	gap: 30px;
	justify-content: center;
	padding-top: 30px;
	font-size: 18px;
	font-family: "Kulim Park";
}

.imageBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	gap: 10px;
	font-family: "Kulim Park";
	font-size: 20px;
}
.image {
	display: flex;
	background-color: var(--white);
	width: 90px;
	height: 90px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: black solid 1px;
}

.filterBlock {
	padding: 10px;
	width: 100%;
	max-height: 350px;
	/* height: fit-content; */
}

.item {
	font-size: 14px;
	font-family: "Kulim Park";
	background-color: var(--light-grey2);
	width: fit-content;
	height: fit-content;
	border-radius: 15px;
	padding: 5px 7px;
	cursor: pointer;
}
.showMore {
	cursor: pointer;
	text-decoration: underline;
}

.language {
}
.shMLan {
	text-decoration-color: var(--light-blue);
}

.tag {
}
.shMTag {
	text-decoration-color: var(--fade-green);
}

.subject {
}
.shMSub {
	text-decoration-color: var(--fade-pink);
}

.language:has(input:checked) {
	background-color: var(--light-blue);
}

.subject:has(input:checked) {
	background-color: var(--fade-pink);
}

.tag:has(input:checked) {
	background-color: var(--fade-green);
}
