:root{
    --mainBg: #EDEDED;
    --yellow5:#FFDD73;
    --buttonHover:#D9D9D9;
    --black:#000000;
    --white:#ffff;
    --error: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
