:root {
/* названия - это те которые заменят их, там где названий нет, замены - нет */

	--yellow5: #ffdd73;
	--black: #000000;
	--white: #ffff;
	--error: #ff0000;
	--pink4: #f33d6e;
	--button-red2: rgba(159, 0, 19, 0.42);/*снести*/
	--button-red3: rgba(159, 0, 19, 0.75);/*снести*/
	--button-gray3: rgba(52, 52, 53, 0.75); /*снести*/


	--grey1: #808080;
	--grey2: #b2aeae;
	--grey3: #bfbfbf;
	--dark-grey1: #383435;
	--dark-grey2: #666666;
	--light-grey1: #cccccc;
	--light-grey2: #e5e5e5;
	--light-grey3: #ededed;
	--light-grey4: #f6f6f6;

	--dark-red: #7f000f;
	--red: #9f0013;
	--light-red1: #b7404e;
	--light-red2: #d7949c;

	--fade-green: #cdf3b1;
	--fade-pink: #f5b2c4;
	--fade-white: #f6f6f6;
	--fade-yellow: #fff9e6;

	--light-blue: #9bb1ee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow: hidden;
}
body {
	overflow: hidden;
}
