.quizzesList {
	overflow-y: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	scrollbar-gutter: stable;
}

.navPage {
	width: 100%;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}
