.pageList {
	display: flex;
	list-style: none;

	gap: 10px;
}
.pageListItem {
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;

	border-radius: 50%;

	font-size: 20px;
	font-family: "Kulim Park";
	text-decoration: none;
	color: var(--dark-grey);
	cursor: pointer;
}

.activePage {
	background-color: var(--light-blue);
}

.icon {
	fill: none;
	width: 9px;
	height: 15px;
}
